
    </div>

    {{^hidefooter}}
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Need help ?</h5>
                    <p class="grey-text text-lighten-4">
                        Just connect and tell how much distressed you are ^^
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    {{^hidemenu}}
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/">home</a></li>
                        <li><a class="grey-text text-lighten-3" href="/account">profile</a></li>
                        <li><a class="grey-text text-lighten-3" href="/admin">admin</a></li>
                        <li><a class="grey-text text-lighten-3" href="/disconnect">disconnect</a></li>
                    </ul>
                    {{/hidemenu}}
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Orel/SPL
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    {{/hidefooter}}

    <script src="/socket.io/socket.io.js"></script>    
    <script type="text/javascript" src="js/app.js"></script>

</body>

</html>