<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{title}}</title>

    <link type="image/png" rel="icon" href="sos.png">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</head>

<body id="{{pageid}}" data-status="{{status}}">

    {{^hideheader}}
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" title="Icon made by Freepik from www.flaticon.com"></a>
            {{^hidemenu}}
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons">home</i></a></li>
                <li><a href="/account"><i class="material-icons">person</i></a></li>
                <li><a href="/admin"><i class="material-icons">supervisor_account</i></a></li>
                <li><a href="/disconnect"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
            {{/hidemenu}}
        </div>
    </nav>
    {{/hideheader}}

    <div class="section">
