
{{> partials/header}}

<div class="row">
        
    <div class="container">
        <table>
            <tr>
                <th>name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>group</th>
                <td>{{status}}</td>
            </tr>
            <tr>
                <th>password</th>
                <td>
                    <input type="password" id="old" name="old" value="" placeholder="current password" />
                    <input type="password" id="new1" name="new1" value="" placeholder="new password" />
                    <input type="password" id="new2" name="new2" value="" placeholder="new password (verification)" />

                    <button class="btn" id="changepw">change</button>
                </td>
            </tr>
        </table>
    </div>

</div>

{{> partials/footer}}