
{{> partials/header}}


<div class="row">

    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a href="#test-swipe-1">Requests</a></li>
            <li class="tab col s2"><a href="#test-swipe-2">Devices</a></li>
            <li class="tab col s2"><a href="#test-swipe-3">Users</a></li>
            <li class="tab col s2"><a href="#test-swipe-4">Logs</a></li>
            <li class="tab col s2"><a href="#test-swipe-5">Stats</a></li>
        </ul>
    </div>

    <div id="test-swipe-1" class="col s12">
        <h2 class="center-align">Pending requests</h2>
        {{#hasRequests}}
        <table>
            <thead>
                <tr>
                    <td>date</td>
                    <td>level</td>
                    <td>learner</td>
                    <td>status</td>
                </tr>
            </thead>
            <tbody>
                {{#requests}}
                <tr>
                    <td>{{date}}</td>
                    <td><i class="material-icons {{color}}-text">{{picto}}</i></td>
                    <td>{{user.name}}</td>
                    <td>
                        {{#done}}
                        <button class="btn grey lighten-1"><i class="material-icons white-text">timer_off</i></button>
                        {{/done}}
                        {{^done}}
                        <button id="{{_id}}" class="btn turnoff"><i class="material-icons white-text">timer</i></button>
                        {{/done}}
                    </td>
                </tr>
                {{/requests}}
            </tbody>
        </table>
        {{/hasRequests}}
        {{^hasRequests}}Currently no request !{{/hasRequests}}
    </div>


    <div id="test-swipe-2" class="col s12">
        <h2 class="center-align">Devices</h2>
        {{#hasDevices}}
        <table>
            <thead>
                <tr>
                    <td>name</td>
                    <td>url</td>
                </tr>
            </thead>
            <tbody>
                {{#devices}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{url}}</td>
                </tr>
                {{/devices}}
            </tbody>
        </table>
        {{/hasDevices}}
        {{^hasDevices}}No device configured !{{/hasDevices}}
    </div>


    <div id="test-swipe-3" class="col s12">
        <h2 class="center-align">Users</h2>
        {{#hasUsers}}
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>name</td>
                    <td>status</td>
                </tr>
            </thead>
            <tbody>
                {{#users}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{name}}</td>
                    <td>{{status}}</td>
                </tr>
                {{/users}}
            </tbody>
        </table>
        {{/hasUsers}}
        {{^hasUsers}}No user !{{/hasUsers}}
    </div>


    <div id="test-swipe-4" class="col s12">
        <h2 class="center-align">Logs</h2>
        {{#hasLogs}}
        <table>
            <thead>
                <tr>
                    <td>date</td>
                    <td>level</td>
                    <td>learner</td>
                    <td>status</td>
                </tr>
            </thead>
            <tbody>
                {{#logs}}
                <tr>
                    <td>{{date}}</td>
                    <td><i class="material-icons {{color}}-text">{{picto}}</i></td>
                    <td>{{user.name}}</td>
                    <td>{{status}}</td>
                </tr>
                {{/logs}}
            </tbody>
        </table>
        {{/hasLogs}}
        {{^hasLogs}}Log is empty !{{/hasLogs}}
    </div>

    <div id="test-swipe-5" class="col s12">
            <h2 class="center-align">Stats</h2>
            <p>num requests per learner</p>
            <p>intervention time</p>
            <p>ratio help/pls</p>
            <p>ratio done/pending/canceled</p>
    </div>

</div>
    


{{> partials/footer}}