{{> partials/header}}

<div class="row valign-wrapper">
    <div class="container">

        <img src="sosblack.svg" alt="Help help help" />

        <h3>Please, connect before weep !</h3>

        <form action="/" method="post">

            <div class="input-field col s12">
                <label for="id">login</label>
                <input type="text" name="login" value="" placeholder=""/>
            </div>

            <div class="input-field col s12">
                <label for="pass">password</label>
                <input type="password" name="pass" value="" placeholder=""/>
            </div>

            <div class="center-align">
                <input class="waves-effect waves-light btn white-text" type="submit" value="connect !"/>
            </div>
        </form>

    </div>
</div>


<script>
    axios.get('https://api.nasa.gov/planetary/apod?api_key={{nasaapi}}').then( e => {
        console.log(e);
        document.querySelector('body').style.backgroundImage = 'url('+e.data.url+')'
    });
</script>


{{> partials/footer}}