{{> partials/header}}

<div class="row">
    <div class="center-align">

        <h1>Hello {{login}} !</h1>


        <div id="action-none">
            <a class="waves-effect waves-light btn-large" id="help">
                <i class="material-icons right">help</i>
                help
            </a>
            <a class="waves-effect waves-light btn-large red" id="pls">
                <i class="material-icons right">local_hospital</i>
                PLS!!!
            </a>
        </div>


        <div id="action-pending">
            <p>You asked for help, please wait...</p>

            <a class="waves-effect btn-large" id="cancel" data-id="{{pending}}">
                <i class="material-icons right">timer</i>
                cancel
            </a>

        </div>

    </div>
</div>

{{> partials/footer}}