html,
body {
    height: 100%;
}

body {
    __background-color: #ee6e73;
    background-size: cover;
}

.section {
    background-color: white;
}

.brand-logo {
    margin: 0 15px;
    width: 65px;
    height: 65px;
    background: url(../sos.svg) top left no-repeat;
    background-size: contain;
}

#action-none a,
#action-pending a {
    margin: 100px 50px;
}

#action-pending {
    display: none;
}

#connection img {
    width: 30%;
}
#connection .container {
    background-color: rgba(255,255,255,0.7);
    padding: 50px;
    color: #333 !important;
}
#connection .section,
#connection .row {
    height: 100%;
    background-color: transparent;
}

#connection form * {
    color: #222 !important;
}


/* fonts */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/material-icon.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }